
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi Admin</h3>
    <p>
      <table>
      	<tr>
      		<td>Total no. of updated variants: <%= @count%></td> 
        </tr>
        <% if @mailer_metal.present? %>
        <tr>
          <td>Metal's where price is ZERO in database and updated with price of gemstone</td> 
        </tr>
        <tr>
          <table>
            <tr> 
              <th>Product </th><th>Metals</th>
            </tr>
            <% @mailer_metal.each_with_index do |metal, index|%>
              <tr><td><%= @blank_metal_product[index] %></td><td><%= metal%></td> </tr> 
              <% end %>
          </table>
        </tr>
        <% end %>
      </table>
    </p>
    <h3> Updated products : </h3>
    <table>
      <thead>
        <th>#</th><th> Product name </th><th>Variant</th><th>Updated Price </th>
      </thead>
      <tbody>
    <% @updated_metals.each_with_index do |variant, index| %>
    
    <tr><td><%= index+1 %><td> <%= @product_mailer[index] %></td><td><%= variant.title %></td><td><%= variant.price %></td>
    </tr>

    <% end %>
  </tbody>
    </table>
  </body>
</html>
