<%= form_for(@metal) do |f| %>


<div class="modal-dialog">
<div class="modal-content">
   
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @metal.product.title %> with metal: <%= @metal.name %> </h4>
      </div>
      <div class="modal-body">
             <% if @metal.errors.any? %>
    <h5>
      <%= pluralize(@metal.errors.count, "error") %> prohibited this metal from being saved:

      <h5>
      <% @metal.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
      </p>
    </p>
  <% end %>
        <p><%= f.label :price %>: <%= f.text_field :price %></p>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Save Changes' , class: 'btn btn-danger cursor_wait' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  </div>

  </div>
<% end %>