<%= form_for(@metal) do |f| %>
  <% if @metal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metal.errors.count, "error") %> prohibited this metal from being saved:</h2>

      <ul>
      <% @metal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= f.label :product_title %>
      </th>
      <th>
        <%= f.label :metal_name %>
      </th>
      <th>
        <%= f.label :price %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @metal.name %>
      </td>
      <td>
        <%= @metal.product.title %>
      </td>
    <td>    
        <%= f.text_field :price %>
    </td>
    </tr>
  </tbody>
</table>
<div class="actions">
  <%= submit_tag 'Save Changes' , class: 'btn btn-danger cursor_wait' %>
</div>
<% end %>
