<p id="notice"><%= notice %></p>

<h1>Listing Metals</h1>

<table id="almetals" class="table table-striped">
  <thead>
   
    <tr>
      
      <th>Product</th>
      <th>Metal Name</th>
      <th>Price</th>
      <th>Edit</th>
    </tr>
 
  </thead>

  <tbody>
  
    <% @metals.each do |metal| %>
      <tr>
        <td><%= metal.product.title %></td>
        <td><%= metal.name %></td>
        <td><%= metal.price %></td>
        <td><%= link_to 'Edit', edit_metal_path(metal) %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
