<%= form_tag('/homes/update_product', method: :put) do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %><br/>
  <%= label_tag(:product_type, " Product type:") %>
  <%= text_field_tag(:product_type) %><br/>
  <%= label_tag(:vendor, "vendor:") %>
  <%= text_field_tag(:vendor) %><br/>
  <%= hidden_field_tag :id, params[:id] %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
