<%= form_for(@variant) do |f| %>
  <% if @variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% @variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <p>14K_white_recycled_price: <%= f.text_field :k14_white_recycled_price %></p>
   <p>14K_yellow_recycled_price: <%= f.text_field :k14_yellow_recycled_price %></p>
   <p>14K_rose_recycled_price: <%= f.text_field :k14_rose_recycled_price %></p>
   <p>18K_white_recycled_price: <%= f.text_field :k18_white_recycled_price %></p>
   <p>18K_yellow_recycled_price: <%= f.text_field :k18_yellow_recycled_price %></p>
   <p>18K_rose_recycled_price: <%= f.text_field :k18_rose_recycled_price %></p>
   <p>platinum_recycled_price: <%= f.text_field :platinum_recycled_price %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>