<%= form_tag('/variants/update_variant', method: :put) do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:product_type, " Product type:") %>
  <%= text_field_tag(:product_type) %>
  <%= label_tag(:vendor, "vendor:") %>
  <%= text_field_tag(:vendor) %>
  <%= hidden_field_tag :id, params[:id] %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>