<h3>Listing Products with Diamond Variants</h3>
<table id="products" class="table table-striped table-bordered" cellspacing="0" width="90%">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Title</th>      
      <th>Published Scope</th>
      <th>Vendor</th>
      <th style="color:#3BB878;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td><%= product.published_scope %></td>
      <td><%= product.vendor %></td>
      <td><%= link_to 'Change Variant Price', edit_variant_path(product), {style: "color: blue"} %></td>
      <!-- <td><%#= link_to 'Show', variant %></td>
      <td><%#= link_to 'Edit', edit_variant_path(variant) %></td>
      <td><%#= link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>
<%#= link_to 'New Variant', new_variant_path, class: 'btn btn-info' %>`