<h3>Search & Update According to Variant's Title</h3>
<%= form_tag '/update_variants', :method => 'put', :class => "form-inline" do %>
<div class="form-group">
  <label for="exampleInputName2">Search Variant</label>
  <%= text_field_tag :query, params[:query], placeholder: "Search Any Variant", class: "form-control"%>
</div>
<button type="submit" class="btn btn-warning">Search Variant</button>
<% end %>
<br />
<% if @productss.present? %>
<%= form_tag("/variants_update", method: :put) do %>
<div class="table-responsive">
  <table id="variants" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Product Name</th>
        <!-- <th>Variant ID</th> -->
        <th>Variant title</th>
        <th>Variant sku</th>
        <th>Variant old price</th>
        <th>Add More in price</th>
      </tr>
    </thead>
    <tbody>
      <% @productss.each do |product| %>
      <% b = 0 %>
      <% product.options.each do |cat|
        if cat.name == @params_query
          b = 1
          post = cat.position
        end
        end %>       
      <% if b == 1 %>
      <% product.variants.each do |variant| %>      
      <tr>
        <td><%= product.title %></td>
        <!-- <td><%#= variant.id %></td> -->
        <td><%= variant.title %></td>
        <td><%= variant.sku %></td>
        <td><%= variant.price %></td>
        <td><%= text_field_tag "updated_price_of_variant_#{variant.id}", nil, :placeholder => 'Add More in price..' %></td>
        <!-- <td><%= variant.grams %>|</td> -->
        <!-- <td><%#= variant.diamond %></td> -->
        <!-- <td><%#= link_to 'Show', variant %></td>
          <td><%#= link_to 'Edit', edit_variant_path(variant) %></td>
          <td><%#= link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
      <%# end %>
      <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="actions">
  <button type="submit" class="btn btn-primary">Update Price</button>
</div>
<% end %>
<% end %>
