<h1>Listing Product</h1>
<table id="products" class="table table-striped table-bordered" cellspacing="0" width="90%">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Title</th>      
      <th>Published Scope</th>
      <th>Vendor</th>
      <th style="color:orange;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td><%= product.published_scope %></td>
      <td><%= product.vendor %></td>
      <td><%= link_to 'Edit', edit_home_path(product) %></td>
      <%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New product', new_home_path %>
