<style>
.empty{
  background-color: #01A9DB;
}
.filled{
  background-color: #CCFFCC;
}
</style>
<% content_for :back do %>
  <li><%= link_to t('.back', :default => t("helpers.links.back")),
              products_path %></li>
<% end %>
<%= form_tag(update_metal_prices_product_path, method: :put) do %>
<h1 style="font-variant: small-caps;"><%= @product.title%>'s metals</h1>

<table id="metals" class="table">
  <thead>
    <tr>
      <th>Metal Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @product.metals.each do |metal| %>
      <tr>
        <td><%= metal.name %></td>
        <td><%= text_field_tag 'prices[]', metal.price %></td>
       <%= hidden_field_tag 'ids[]', metal.id %>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default cursor_wait'  %>
<%= submit_tag 'Save Changes', 'data-disable-with' => "Please wait..", class: 'btn btn-danger submit' %>
<% end %>
