<%= form_tag(update_metal_prices_product_path, method: :put) do %>
<h1>Listing Metals for <%= @product.title%></h1>

<table id="metals" class="table table-striped display">
  <thead>
    <tr>
      <th>Metal Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @product.metals.each do |metal| %>
      <tr>
        <td><%= metal.name %></td>
        <td><%= text_field_tag 'prices[]', metal.price %></td>
       <%= hidden_field_tag 'ids[]', metal.id %>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default cursor_wait'  %>
<%= submit_tag 'Save Changes', 'data-disable-with' => "Please wait..", class: 'btn btn-danger submit' %>
<% end %>
