<% if user_signed_in? %>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
   
    <ul class="sidebar-menu">
      <li class="header"><%#= ShopifyAPI::Shop.current.name %> </li>
      <!-- Optionally, you can add icons to the links -->
      <li class="<%= is_active?('/homes/index') %>"><a href="/homes"><i class='fa glyphicon glyphicon-equalizer'></i> <span>Home</span></a></li>
      <li id="product_b" class="<%= is_active?('/products') %>"><a href="/products" class="cursor_wait"><i class='fa glyphicon glyphicon-modal-window'></i> <span>Products</span></a></li>           
      <li id="metal_b" class="<%= is_active?('/metals') %>"> <a href="/metals"><i class='fa glyphicon glyphicon-circle-arrow-down'></i> <span>All Metals</span></a></li> 
      <!-- 
      <li><a href="/variants"><i class='fa glyphicon glyphicon-equalizer'></i> <span>Diamond Variant Products</span></a></li>
      <li><a href="/update_variants"><i class='fa glyphicon glyphicon-equalizer'></i> <span>Update Variants Title</span></a></li> -->
      <li id="diamond_b" class="<%= is_active?('/homes/diamond_values') %>"><a href="/homes/diamond_values" class="cursor_wait"><i class='fa glyphicon glyphicon-equalizer '></i> <span>Update Diamond Value</span></a></li>
      <li class="<%= is_active?('/homes/set_shop') %>"><a href="/homes/set_shop"><i class='fa glyphicon glyphicon-circle-arrow-down'></i> <span>Set Store URL</span></a></li>
      <!--<li><a href="/homes/shopify_url" class="cursor_wait"><i class='fa glyphicon glyphicon-th'></i> <span>Change Shop</span></a></li>
      <li><a href="/update_variants_price"><i class='fa glyphicon glyphicon-equalizer'></i> <span>Update Variants Title Value</span></a></li> -->
      <!-- <li class="treeview">
        <a href="#"><i class='fa fa-link'></i> <span>More</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/">Orders</a></li>
          <li><a href="#">Others</a></li>
        </ul>
        </li> -->
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
<% end %>
